/* General Styles */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  background-color: #f9f9f9; /* Light gray background */
}
/* For webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  display: none;
}

/* Header Styles */
header {
  background-color: #fff; /* White */
  color: #333;
  padding: 15px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  top: 0;
  position: relative;
  z-index: 99;
  width: 100%;
}

header .container {
  padding: 0 26px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header .nav-right {
  display: flex;
}

header .logo {
  font-size: 32px;
  font-weight: bold;
  color: #000; /* Black */
  left: 20px; /* Adjust left padding as needed */
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes the nav to the extreme right */
}

header nav ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 0 5px;
}

header nav ul li a {
  display: inline-block;
  color: #000; /* Black */
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  border: 2px solid transparent;
}

header nav ul li a:hover {
  background-color: #000; /* Black */
  color: #fff; /* White */
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* User Menu Styles */
.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px; /* Space between menu items and user icon */
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.user-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.user-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 50px; /* Adjusted position */
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 8px;
  transition: opacity 0.3s;
}

.user-dropdown a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.user-dropdown a:hover {
  background-color: #f1f1f1;
  color: #000000;
}

.user-dropdown.show {
  display: block;
  opacity: 1;
}

/* Home Section Styles */
#home {
  height: 50vh; /* Adjusted height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("../static/image/crop1.jpg") no-repeat center center/cover;
  color: white;
}

#home .intro {
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  padding: 40px 60px; /* Adjusted padding for better appearance */
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out;
}

#home .intro h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff; /* White */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding shadow for text effect */
}

#home .intro p {
  font-size: 20px;
  line-height: 1.6;
  color: #ddd; /* Light gray */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Adding shadow for text effect */
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Section Styles */

section .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}

section .content .text {
  width: 55%;
  flex: 1;
}
section .content .image {
  width: 45%;
  padding: 0 !important;
}
section .content .image > img {
  width: 100%;
  height: 385px;
}

section .content .text h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

section .content .text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

section .content .text .btn {
  display: inline-block;
  background-color: #000; /* Black */
  color: white;
  padding: 14px 28px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  border: 2px solid transparent;
}

section .content .text .btn:hover {
  background-color: #fff; /* White */
  color: #000; /* Black */
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border: 2px solid #000; /* Black border */
}

section .content .image {
  flex: 1;
  padding: 30px;
}

section .content .image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

section .content .image img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

section:nth-child(odd) .content {
  flex-direction: row-reverse;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel img {
  width: 100%;
  height: 550px;
}
.carousel {
  margin-top: 0px; /* Set or adjust this value */
}

.carousel .carousel-caption h5 {
  font-size: 45px;
}
.carousel .carousel-caption p {
  font-size: 25px;
}
.crop-cards {
  margin-bottom: 50px;
}
.hero-banner {
  margin-bottom: 50px;
  
}

/* Footer Styles */
footer {
  background-color: #000; /* Black */
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}
